[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "optee_examples"]
	path = optee_examples
	url = https://github.com/linaro-swg/optee_examples.git
[submodule "wasm3"]
	path = wasm3
	url = https://github.com/wasm3/wasm3.git
